
body{
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo .menu {
  display: inline-block;
}
.logo {
  margin-right: 40%;
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.menu__item {
  position: relative;
  margin-right: 5px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 68px;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item:last-child {
  margin-right: 0;
}
