
body{
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
  /*border: dashed 1px red;*/
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logo .menu {
  display: inline-block;
}
.logo {
  margin-right: 40%;
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.menu__item {
  position: relative;
  margin-right: 10px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 68px;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.menu__item:last-child {
  margin-right: 0;
}
.main {
  padding: 0 63% 250px 0;
  background: top right no-repeat url(img/mainlmg.svg);
}
.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px 'PT Serif', serif, arial, helvetica, sans-setif;
  color: #000;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica,sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
